@media (max-width: 700px) {
    .navbar__menu--hidden {
        display: none;
    }
    .header {
        background-image: radial-gradient(transparent, rgb(0,0,0, 0.6)),url(../imgs/pageheader-1920w.jpg);
        height: 45vh;
        width: 100%;
        background-repeat: no-repeat;
        display: block;
        padding: 0;
        background-position: center center;
        background-size: cover;
    }
    .navbar__menu {
        align-items: flex-end;
        background-color: white;
    }
    .navbar__logo {
        top: 1%;
        position: absolute;
    }
    .hamburger-menu {
        background-color: white;
        width: 100%;
    }
    .navbar__menu {
        background-color: #eb6c27;
        height: 20vh;
    }
    .nav-item {
        list-style-type: none;
        margin: 1.9vh;
    }

    .nav-item a {
        text-decoration: none;
        color: white;
    }
    .header p {
        color: white;
        font-weight: 850;
        text-align: center;
        top: 30vh;
        position: relative;
        font-size: 1.5em;
    }
    .hamburger-menu-list {
        top: 50px;
    }
    .header .btn {
        display: none;
    }
    .container {
        margin: 3em;
    }
    .services {
        text-align: left;
    }
    .orange {
        color: #eb6c27
    }
}
/* hamburger menu */
.hamburger-menu {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75em;
}
.hamburger-menu::after {
    content: url(../imgs/hamburger.svg);
}
